* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 296px;
}

#gioca {
  font-size: 40px;
}

.carta {
  border: 1px solid #1E7CCE;
  border-radius: 5px;
  width: 128px;
  height: 174px;
  margin: 10px;
  cursor: pointer;
  background-image: url(../img/backface.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  perspective: 1000px;
  transition: transform 2s;
  /* position: absolute; */
}
.rotate {
  transform: rotateY(180deg);
}

#carta1 {
  top: 0;
  left: 0;
}
#carta2 {
  top: 0%;
  left: 25%;
}
#carta3 {
  top: 0;
  left: 50%;
}
#carta4 {
  top: 0%;
  left: 75%;
}
#carta5 {
  top: 25%;
  left: 0;
}
#carta6 {
  top: 25%;
  left: 25%;
}
#carta7 {
  top: 25%;
  left: 50%;
}
#carta8 {
  top: 25%;
  left: 75%;
}
#carta9 {
  top: 50%;
  left: 0;
}
#carta10 {
  top: 50%;
  left: 25%;
}
#carta11 {
  top: 50%;
  left: 50%;
}
#carta12 {
  top: 50%;
  left: 75%;
}
#carta13 {
  top: 75%;
  left: 0;
}
#carta14 {
  top: 75%;
  left: 25%;
}
#carta15 {
  top: 75%;
  left: 50%;
}
#carta16 {
  top: 75%;
  left: 75%;
}


.carta.python {
  background-image: url(../img/Python.png);
}
.carta.java {
  background-image: url(../img/java.png);
}
.carta.php {
  background-image: url(../img/php.png);
}
.carta.laravel {
  background-image: url(../img/laravel.png);
}
.carta.html5 {
  background-image: url(../img/html5.png);
}
.carta.css3 {
  background-image: url(../img/css3.png);
}
.carta.csharp {
  background-image: url(../img/csharp.jpg);
}
.carta.bootstrap {
  background-image: url(../img/bootstrap.png);
}

#container {
  position: relative;
  width: 592px;
  height: 776px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.container-animation {
  animation-name: shuffle;
  animation-duration: 8s;
  animation-timing-function: linear;
  /* animation-fill-mode: forwards; */
}

@keyframes shuffle {
  0% {
    position: absolute;
  }
  17% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.container-animation-back {
  animation-name: shuffle-back;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes shuffle-back{
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  30% {
    position: absolute;
    left: 45%;
    top: 45%;
    transform: none;
  }
  80% {
    position: absolute;
  }
  100% {
    position: absolute;
  }
}

/* @keyframes shuffle {
  0% {
    transform: rotate(0deg) scale(1) skew(0deg);
  }
  45% {
    transform: rotate(670deg) scale(0.05) skew(10deg);
  }
  55% {
    transform: rotate(720deg) scale(0.05) skew(10deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(0deg);
  }
} */
.position-inerhit {
  position: static;
}

.unclickable {
  z-index: -1;
}

.hidden {
  opacity: 0;
  transition: 1s;
}

.direction1 {
  flex-direction: row-reverse;
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 3;
}
.order4 {
  order: 4;
}
.order5 {
  order: 5;
}
.order6 {
  order: 6;
}
.order7 {
  order: 7;
}
.order8 {
  order: 8;
}
.order9 {
  order: 9;
}
.order10 {
  order: 10;
}
.order11 {
  order: 11;
}
.order12 {
  order: 12;
}
.order13 {
  order: 13;
}
.order14 {
  order: 14;
}
.order15 {
  order: 15;
}
.order16 {
  order: 16;
}


@media screen and (max-width:592px) {
  #container {
    width: 100vw;
    min-width: 296px;
    height: calc(100vw * 174 / 128);
    min-height: calc(296px * 174 / 128);
  }
  .carta {
    width: 22%;
    height: 22%;
    margin: 1.5%;
  }
}
